@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Regular.woff2");
  }
  @font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Italic.woff2");
    font-style: italic;
  }
  @font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Bold.woff2");
    font-weight: bold;
  }
  @font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-BoldItalic.woff2");
    font-weight: bold;
    font-style: italic;
  }

@font-face {
    font-family: "Dosis";
    src: url("/fonts/Dosis-Bold.woff2");
}

@font-face {
  font-family: "Zoe";
  src: url("/fonts/other-blogs/zoe.woff2");
}

@font-face {
  font-family: "Erysdren";
  src: url("/fonts/other-blogs/erysdren.woff2");
}

@font-face {
  font-family: "Abyss";
  src: url("/fonts/other-blogs/abyss.woff2");
}

@font-face {
  font-family: "Myno";
  src: url("/fonts/other-blogs/myno.woff2");
}

@font-face {
  font-family: "Oatmealine";
  src: url("/fonts/other-blogs/oatmealine.woff2")
}

@font-face {
  font-family: "IndieTsushin";
  src: url("/fonts/other-blogs/indietsushin.woff2")
}

@font-face {
  font-family: "Summer";
  src: url("/fonts/other-blogs/summer.woff2")
}

@font-face {
  font-family: "TulipOne";
  src: url("/fonts/other-blogs/tulip-one.woff2")
}
@font-face {
  font-family: "TulipTwo";
  src: url("/fonts/other-blogs/tulip-two.woff2")
}