@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Fredoka";
    src: url("/fonts/Fredoka.ttf");
}

@font-face {
    font-family: "Dosis";
    src: url("/fonts/Dosis-Bold.ttf");
}