@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Regular.ttf");
  }
  @font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Italic.ttf");
    font-style: italic;
  }
  @font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Bold.ttf");
    font-weight: bold;
  }
  @font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
  }

@font-face {
    font-family: "Dosis";
    src: url("/fonts/Dosis-Bold.ttf");
}

@font-face {
  font-family: "Zoe";
  src: url("/fonts/other-blogs/zoe.ttf");
}

@font-face {
  font-family: "Erysdren";
  src: url("/fonts/other-blogs/erysdren.ttf");
}

@font-face {
  font-family: "Abyss";
  src: url("/fonts/other-blogs/abyss.ttf");
}

@font-face {
  font-family: "Myno";
  src: url("/fonts/other-blogs/myno.ttf");
}

@font-face {
  font-family: "Oatmealine";
  src: url("/fonts/other-blogs/oatmealine.woff")
}

@font-face {
  font-family: "IndieTsushin";
  src: url("/fonts/other-blogs/indietsushin.ttf")
}

@font-face {
  font-family: "Summer";
  src: url("/fonts/other-blogs/summer.ttf")
}